.censoredContent{
    filter: blur(17px) !important;
    opacity:.5 !important;
}
.censoredContainer{
    /* background-color: rgba(0,0,0,1); */
    background: black !important;
    position: relative !important;
    text-align: center !important;
    color: white !important;
    overflow: hidden !important;
    word-wrap: normal !important;
}
.censoredText {
    /* color: red; */
    visibility: visible !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
