/*CSS for the options page */
.ncBody{
   width:80%;
   display:block;
   margin-right:auto;
   margin-left:auto; 
}

.ncCategory {
    border: 2px solid #ccc;
    padding:20px;
    padding-top:10px;
    border-radius: 12px;
}
.ncCategory h2{
    margin-top:0px;
}

.ncCategory .ncSaveButton{
    margin:10px;
    margin-left:0px;

    /*background-color: #4CAF50; */
    background-color:#406bdb;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

}

.ncCategory label{
    font-size:medium;
}

.ncCategory .ncSaveButton:hover{
    background-color: #3960c4;
}

.ncCategory checkbox{
    margin-left: 0px;
}

/* .category input{
    margin-top:5px;
    margin-bottom:5px;
} */
.ncCategory .ncOptionAttribute{
    margin-top:5px;
    margin-bottom:5px;
}

.ncCategory:hover{
    background:#f7f9ff;
}

#ncStatus{
    color:green;
}

.ncFooter{
    position:absolute;
    bottom:0;
    width:80%;
    text-align:center;
}


/* CSS for censored image alteration */
.ncCensoredContent{
    filter: blur(17px) !important;
    opacity:.5 !important;
}
.ncCensoredContainer{
    /* background-color: rgba(0,0,0,1); */
    background: black !important;
    position: relative !important;
    text-align: center !important;
    color: white !important;
    overflow: hidden !important;
    word-wrap: normal !important;
}
.ncCensoredText {
    /* color: red; */
    visibility: visible !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
